// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo300-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo500-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo700-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar.fixed-top {
    top:25px;
}

.navbar a:link { color: $white !important; }
.navbar a:link:hover { text-decoration: underline; }
.navbar li { font-size: 18px;}

h3 { color: $primary }

.navbar .navbar-brand.kocka {
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    position:absolute;
    width:300px;
}
html {
    scroll-behavior: smooth !important;
}

ul.leaders {
    padding:        0;
}
ul.leaders li {
    display:        table;
}
ul.leaders li span {
    display:        table-cell;
}
ul.leaders li span:first-child { /* TITLE */
    position:       relative;
    overflow:       hidden;       /* Don't go underneath the price */
}
ul.leaders li span:first-child:after { /* DASHES */
    content:        "";
    position:       absolute;
    bottom:         0.5em;        /* Set as you want */
    margin-left:    0.5em;        /* Keep same for the next span's left padding */
    width:          100%;
    border-bottom:  1px dashed #000;
}
ul.leaders li span + span {     /* PRICE */
    text-align:     right;
    width:          1%;           /* Trick it */
    vertical-align: bottom;       /* Keep Price text bottom-aligned */
    padding-left:   0.5em;
    white-space: nowrap;       /* Uncomment if needed */
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}
